In [1]:
# Importing libraries
import psycopg2
import pandas as pd

In [2]:
%%capture --no-display capture_output
# Loading SQL
%load_ext sql

In [3]:
%%capture --no-display capture_output
# Loading schemadisplay
%load_ext schemadisplay_magic

In [4]:
%%capture --no-display capture_output
# Configuring SQL so it will load files using Pandas
%config SqlMagic.autopandas=True

In [5]:
%%capture --no-display capture_output
# Set to return floats rather than decimals
DEC2FLOAT = psycopg2.extensions.new_type(
    psycopg2.extensions.DECIMAL.values,
    'DEC2FLOAT',
    lambda value, curs: float(value) if value is not None else None)
psycopg2.extensions.register_type(DEC2FLOAT)

In [6]:
# Defining local variables
DB_ENGINE='postgresql'
DB_HOST='db'
DB_PORT=5432
DB_NAME='Adventureworks'
DB_USER='postgres'
DB_PWD='letmein'

In [7]:
# Creating connection string
DB_ML_SETUP_CONNECTION = '{engine}://{user}:{pwd}@{host}:{port}/{name}'.format(engine=DB_ENGINE,
                                                               user=DB_USER,
                                                               pwd=DB_PWD,
                                                               host=DB_HOST,
                                                               port=DB_PORT,
                                                               name=DB_NAME)

In [8]:
print("Connecting with connection string : {}".format(DB_ML_SETUP_CONNECTION))

%sql $DB_ML_SETUP_CONNECTION

Connecting with connection string : postgresql://postgres:letmein@db:5432/Adventureworks

In [9]:
%%sql

SELECT version();

 * postgresql://postgres:***@db:5432/Adventureworks
1 rows affected.

                                             version
0  PostgreSQL 14.0 (Debian 14.0-1.pgdg110+1) on x...

In [10]:
%%sql

SHOW search_path;

 * postgresql://postgres:***@db:5432/Adventureworks
1 rows affected.

       search_path
0  "$user", public

In [11]:
%%sql

SELECT *
FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog' AND 
    schemaname != 'information_schema';

 * postgresql://postgres:***@db:5432/Adventureworks
68 rows affected.

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,person,address,postgres,None,True,False,True,False
1,person,stateprovince,postgres,None,True,False,True,False
2,person,businessentityaddress,postgres,None,True,False,True,False
3,person,addresstype,postgres,None,True,False,True,False
4,person,businessentity,postgres,None,True,False,True,False
...,...,...,...,...,...,...,...,...
63,sales,specialoffer,postgres,None,True,False,True,False
64,sales,salesterritory,postgres,None,True,False,True,False
65,sales,store,postgres,None,True,False,True,False
66,production,productlistpricehistory,postgres,None,True,False,True,False
67,production,productmodelproductdescriptionculture,postgres,None,True,False,True,False